# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
.venv/
env/

# PyInstaller
build/
dist/
*.spec
installer/

# Local database
data/
*.db
*.sqlite
*.sqlite3

# IDE
.vscode/
.idea/

# OS
Thumbs.db
desktop.ini

# Temporary files
*.log
*.tmp